@charset "ISO-8859-1";

/* Remove the jumbotron's default bottom margin */ 
     .deep{
      margin-bottom: 0;
      background-color: black;
      color:white ;
      font-family: cursive;
      font-weight: bolder;
  
    }
    .deep img
    {
    float:left;
    margin-left: 30px;
    margin-top: 35px;
    }
 
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }